version: '3.4'

services:
  sandcastle-db:
    container_name: sandcastle-db
    restart: always
    ports:
        - "27017:27017"
    volumes:
        - mongo_data:/data/db

  sandcastle-backend:
    container_name: sandcastle-backend
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://*:2525
      - "DatabaseSettings:ConnectionString=mongodb://sandcastle-db:27017"
    depends_on:
        - sandcastle-db
    ports:
      - "2525:2525"